<%- include('../partials/navbar_home') %>

<div class="row my-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <%- include ("../partials/messages"); %>
      <form action="/auth/register" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            name="name"
            class="form-control"
            placeholder="John Doe"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="john@doe.com"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="******"
          />
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input
            type="password"
            name="passwordConfirm"
            class="form-control"
            placeholder="******"
          />
        </div>
        <div class="form-group">
          <select name="team" class="custom-select">
            <option value="">Your Team</option>
            <% teams.forEach(team => { %>
            <option value="<%= team %>"><%= team %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group px-3 py-3 border">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input
                name="image"
                type="file"
                class="custom-file-input"
                id="file"
                style="cursor: pointer"
              />
              <label class="custom-file-label" for="file">Upload Image</label>
            </div>
          </div>
          <p class="text-center">OR</p>
          <div class="dropup border mx-auto" style="width: 300px">
            <a
              class="nav-link dropdown-toggle"
              id="menu"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="/images/avatars/1.svg"
                width="60"
                height="60"
                class="rounded-circle"
                id="main-avatar"
              />
              <input name="avatar" type="hidden" value="1.svg" />
              Choose an Avatar
            </a>
            <div class="dropdown-menu" aria-labelledby="menu">
              <div
                id="avatars"
                style="overflow-x: hidden"
                class="d-inline-flex justify-content-around flex-wrap row"
              ></div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/auth/login">Login</a></p>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    let div = document.getElementById("avatars");
    for (let i = 1; i < 17; i++) {
      let item = `
        <a class="dropdown-item col-4" style="display:inline;">
          <img
            src="/images/avatars/${i}.svg"
            class="rounded-circle avatar"
            style="cursor: pointer;"
            width="60"
            height="60"
          />
        </a>
      `;
      div.insertAdjacentHTML("beforeend", item);
    }
    document.querySelectorAll(".avatar").forEach((avatar) => {
      avatar.addEventListener("click", (e) => {
        let link = e.target.currentSrc;
        document.getElementById("main-avatar").src = link;
        let filename = link.slice(link.lastIndexOf("/") + 1);
        document.querySelector('input[name="avatar"]').value = filename;
      });
    });
  };
  document.getElementById("file").addEventListener("change", (e) => {
    document.querySelector('label[for="file"]').textContent =
      e.target.files[0].name;
  });
</script>
