<%- include('../partials/navbar_app') %> <%- include('../partials/ask') %> <%
const months = ["January", "February", "March", "April", "May", "June", "July",
"August", "September", "October", "November", "December"]; %>

<div class="row container-fluid d-flex justify-content-around my-5">
  <div class="col-lg-2 col-12">
    <h3>Categories</h3>
    <div class="my-2">
      <ul class="list-group list-group-flush">
        <% categories.forEach(category => { %>
        <li class="list-group-item">
          <a class="category" style="cursor: pointer"><%= category %></a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="col-lg-7 col-12">
    <%- include ("../partials/messages"); %> <% if (questions.length > 0) { %>
    <% questions.forEach(question => { %> <% if (typeof question.best !=
    'undefined') { %>
    <div class="card bg-success mb-3">
      <% } else { %>
      <div class="card bg-light mb-3">
        <% } %>
        <div class="card-body">
          <a href="/questions/<%= question.id %>" class="btn-link">
            <p class="lead text-info"><%= question.subject %></p>
          </a>
          <div>
          <small class="text-primary"> # <%= question.category %> </small>
          <small class="text-secondary float-right">
          <%= question.created_at.getDate() + ' ' +
          months[question.created_at.getMonth()] + ' ' +
          question.created_at.getFullYear() %>
            </small>
            </div>
        </div>
      </div>

      <% }) %> <% } else { %>
      <h2>There are no questions yet</h2>
      <% } %>
    </div>
  </div>

  <script>
    document.querySelectorAll(".category").forEach((cat) => {
      cat.addEventListener("click", (e) => {
        let link = window.location.href;
        let category = e.target.innerText;
        if (link.includes("category")) {
          link = link.replace(/category=\w*/, `category=${category}`);
        } else if (link.includes("search")) {
          link += `&category=${category}`;
        } else {
          link = `/questions?category=${category}`;
        }
        window.location.href = link;
      });
    });
  </script>
</div>
